version: "3.9"

networks:
  cassandra-net:
    driver: bridge
    name: cassandra-bridge

services:
  cassandra:
    image: cassandra:4.1
    container_name: cql-gui-cassandra
    hostname: cassandra-node
    platform: linux/amd64
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_START_RPC=true
      - CASSANDRA_CLUSTER_NAME=CqlGuiCluster
      - CASSANDRA_DC=dc1
      - CASSANDRA_RACK=rack1
      - CASSANDRA_NUM_TOKENS=8
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=128M
    healthcheck:
      test: ["CMD-SHELL", "cqlsh cassandra-node 9042 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
    volumes:
      - cassandra_data:/var/lib/cassandra
    networks:
      cassandra-net:
        aliases:
          - cassandra
          - cassandra-db

  cql-gui:
    build: ./gui-cql
    container_name: cql-gui-app
    hostname: cql-gui-app
    platform: linux/amd64
    depends_on:
      cassandra:
        condition: service_healthy
    environment:
      - CASSANDRA_HOSTS=cassandra
      - CASSANDRA_PORT=9042
      # - CASSANDRA_KEYSPACE=mon_keyspace
      # - CASSANDRA_USER=username
      # - CASSANDRA_PASSWORD=password
    ports:
      - "8889:8000"
    volumes:
      - ./cql-scripts:/app/cql-scripts
    networks:
      - cassandra-net
  jupyter:
    image: quay.io/jupyter/base-notebook
    ports:
      - 8888:8888
    volumes:
      - ./jupyter-data:/home/jovyan/work
    command: start-notebook.py --NotebookApp.token='my-token'
    networks:
      - cassandra-net
volumes:
  jupyter-data:
    name: jupyter-data
  cassandra_data:
